# Web scraping dependencies
requests==2.31.0
beautifulsoup4==4.12.2

# URL handling
urllib3==2.0.6

# LangChain and associated dependencies
langchain==0.0.270
langchain-community==0.1.1
langchain-core==0.1.2
langchain-groq==0.1.0
langchain-text-splitters==0.1.0

# LLM model interaction
sentence-transformers==2.2.2

# Vector storage
chromadb==0.4.5

# JSON handling
simplejson==3.19.2

# Optional for running scripts with terminal prompts
ipython==8.16.0
